In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [25]:
df = pd.read_csv('property_data.csv')
df.head()

,Link,Price,OwnershipType:,Property Type:,Bedrooms:,Bathrooms:,Half Bathrooms:,Access Type:,Amenities Nearby:,Built in:,...,Title:,Type Of Dwelling:,Water Availability:,Heating Fuel:,Soil Type:,Porch,Shore line:,Attic,View Type:,Area Influences:
0,https://www.royallepage.ca/en/property/ontario...,"$1,149,000",Freehold,Single Family,4+1,5,1.0,"Road access, Highway access","Park, Playground, Public Transit, Schools, Sho...",2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.royallepage.ca/en/property/ontario...,"$998,900",Freehold,Single Family,3,4,2.0,Road access,"Hospital, Park, Playground, Public Transit, Sc...",1913.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.royallepage.ca/en/property/ontario...,"$799,900",Freehold,Single Family,3,3,1.0,Road access,"Playground, Schools, Shopping",2023.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.royallepage.ca/en/property/ontario...,"$772,888",Freehold,Single Family,3,4,1.0,Road access,Shopping,2010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.royallepage.ca/en/property/ontario...,"$624,900",NaN,NaN,3,1+1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Columns: 149 entries, Link to Area Influences:
dtypes: float64(7), object(142)
memory usage: 873.2+ KB

In [27]:
parking_space = df['Number_Parking_Spaces']

In [28]:
#As there were so many column extracted from website. 
# And there are column in which most of the data missing. 
# I will delete the columns which has missing value more then 40%

def drop_columns_with_missing_values(df, threshold=0.4):
    missing_proportions = df.isnull().mean()
    cols_to_drop = missing_proportions[missing_proportions > threshold].index
    df.drop(columns=cols_to_drop, inplace=True)
    return df

In [29]:
data = drop_columns_with_missing_values(df)

In [30]:
data['Number_Parking_Spaces'] = parking_space

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Link                     750 non-null    object
 1   Price                    750 non-null    object
 2   Bedrooms:                696 non-null    object
 3   Bathrooms:               629 non-null    object
 4   Floor Space (approx):    530 non-null    object
 5   Lot Frontage:            483 non-null    object
 6   Zoning:                  572 non-null    object
 7   Sewer:                   565 non-null    object
 8   Bathroom                 525 non-null    object
 9   Bedroom                  556 non-null    object
 10  Primary Bedroom          474 non-null    object
 11  Kitchen                  556 non-null    object
 12  Acres Range:             457 non-null    object
 13  Architectural Style:     463 non-null    object
 14  Basement:                457 non-null    object
 15  Construction Materials:  527 non-null    object
 16  Cooling:                 485 non-null    object
 17  Driveway Parking:        516 non-null    object
 18  Heating:                 532 non-null    object
 19  Lot Features:            564 non-null    object
 20  Roof:                    506 non-null    object
 21  Water Source:            543 non-null    object
 22  Number_Parking_Spaces    360 non-null    float64
dtypes: float64(1), object(22)
memory usage: 134.9+ KB

In [33]:
summary = df.describe(include='all')

summary

,Link,Price,Bedrooms:,Bathrooms:,Floor Space (approx):,Lot Frontage:,Zoning:,Sewer:,Bathroom,Bedroom,...,Architectural Style:,Basement:,Construction Materials:,Cooling:,Driveway Parking:,Heating:,Lot Features:,Roof:,Water Source:,Number_Parking_Spaces
count,750,750,696,629,530,483,572,565,525,556,...,463,457,527,485,516,532,564,506,543,360.000000
unique,750,398,23,24,427,272,207,9,148,509,...,13,61,103,19,31,49,488,27,10,NaN
top,https://www.royallepage.ca/en/property/ontario...,"$899,900",3,2+1,900 Square Feet,0.00 Feet,R2-2,Sewer (Municipal),Main Level,Main Level3.66 X 3.05,...,Two Story,"Full, Finished","Brick, Vinyl Siding",Central Air,Private Drive Double Wide,"Forced Air, Natural Gas","Urban, Near Golf Course, Highway Access, Hospi...",Asphalt Shing,Municipal,NaN
freq,1,15,191,123,8,39,49,525,182,6,...,250,83,123,398,236,320,11,257,299,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.677778
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.086537
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.000000

In [32]:
data.to_csv('property_data_2nd_edition.csv')

In [38]:
# Here sore values are irrelevant, like-Link 
# Some same information given over and over, like- Sewer
# Some data is like a description, like- Lot Features:
data = data.drop(columns=['Link', 'Zoning:','Sewer:','Acres Range:','Kitchen','Basement:','Construction Materials:','Cooling:','Heating:','Lot Features:','Roof:','Water Source:'])

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    object
 1   Bedrooms:              696 non-null    object
 2   Bathrooms:             629 non-null    object
 3   Floor Space (approx):  530 non-null    object
 4   Lot Frontage:          483 non-null    object
 5   Bathroom               525 non-null    object
 6   Bedroom                556 non-null    object
 7   Primary Bedroom        474 non-null    object
 8   Architectural Style:   463 non-null    object
 9   Driveway Parking:      516 non-null    object
 10  Number_Parking_Spaces  360 non-null    float64
dtypes: float64(1), object(10)
memory usage: 64.6+ KB

In [39]:
# Get the summary statistics for all columns
summary = data.describe(include='all')

summary

,Price,Bedrooms:,Bathrooms:,Floor Space (approx):,Lot Frontage:,Bathroom,Bedroom,Primary Bedroom,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
count,750,696,629,530,483,525,556,474,463,516,360.000000
unique,398,23,24,427,272,148,509,436,13,31,NaN
top,"$899,900",3,2+1,900 Square Feet,0.00 Feet,Main Level,Main Level3.66 X 3.05,2nd LevelMeasurements not available,Two Story,Private Drive Double Wide,NaN
freq,15,191,123,8,39,182,6,9,250,236,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.677778
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.086537
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.000000

In [40]:
data.head()

,Price,Bedrooms:,Bathrooms:,Floor Space (approx):,Lot Frontage:,Bathroom,Bedroom,Primary Bedroom,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,"$1,149,000",4+1,5,2538,49.0 Feet,Main LevelMeasurements not available,Basement Level11'11'' x 18'4'',2nd Level15'2'' x 14'4'',NaN,NaN,4.0
1,"$998,900",3,4,2728,49.0 Feet,Lower Level5'3'' x 2'8'',2nd Level14'6'' x 13'3'',3rd Level17'2'' x 17'2'',NaN,NaN,7.0
2,"$799,900",3,3,1665,38.0 Feet,Main Level6' x 3'1'',2nd Level12'2'' x 10'7'',2nd Level18'5'' x 11'10'',NaN,NaN,4.0
3,"$772,888",3,4,1745,31.0 Feet,Main Level5'1'' x 5'1'',2nd Level14'0'' x 15'0'',2nd Level14'3'' x 15'6'',NaN,NaN,3.0
4,"$624,900",3,1+1,1585 Square Feet,30.28 Feet,2nd Level,2nd Level3.96 X 3.07,2nd Level5.36 X 3.38,Two Story,Private Drive Single Wide,3.0

In [ ]:
# Now there is preprocessing need to be done mostly in every column..
# 1. price need to be int and $ sign need to be remove
# 2. bedrooms, bathrooms column name and it also need to be int and 
# there are some value 4+1 it also need to be change
# 3. Floor Space,Lot Frontage, Bathroom, bedroom... need to extract usefull information.. 
# some column need to extract number some need to extract string.

# 4. Also, fill the missing value, with mean or median

In [43]:
# 1. price need to be int and $ sign need to be remove
import pandas as pd

def convert_price_to_number(df, column_name):
 
    # Remove $ sign and commas, and convert to integer
    df[column_name] = df[column_name].str.replace('$', '').str.replace(',', '').astype(float)
    return df


data = convert_price_to_number(data, 'Price')
print(data)

         Price Bedrooms: Bathrooms: Floor Space (approx): Lot Frontage:  \
0    1149000.0       4+1          5                  2538     49.0 Feet
1     998900.0         3          4                  2728     49.0 Feet
2     799900.0         3          3                  1665     38.0 Feet
3     772888.0         3          4                  1745     31.0 Feet
4     624900.0         3        1+1      1585 Square Feet    30.28 Feet
..         ...       ...        ...                   ...           ...
745   644900.0         3        2+1      1686 Square Feet    21.33 Feet
746   644900.0         3        2+1      1686 Square Feet    21.33 Feet
747   624900.0         3        2+1      1628 Square Feet    16.07 Feet
748   604900.0         2        2+1      1628 Square Feet    16.07 Feet
749  1070000.0         4        2+1      2300 Square Feet    40.00 Feet

                                 Bathroom                         Bedroom  \
0    Main LevelMeasurements not available  Basement Level11'11'' x 18'4''
1                Lower Level5'3'' x 2'8''        2nd Level14'6'' x 13'3''
2                    Main Level6' x 3'1''        2nd Level12'2'' x 10'7''
3                 Main Level5'1'' x 5'1''        2nd Level14'0'' x 15'0''
4                               2nd Level            2nd Level3.96 X 3.07
..                                    ...                             ...
745                             2nd Level            2nd Level2.74 X 3.51
746                            Main Level            2nd Level2.74 X 3.51
747                             2nd Level            2nd Level3.07 X 3.05
748                             2nd Level            2nd Level4.65 X 3.35
749                            Main Level            2nd Level3.71 X 3.66

               Primary Bedroom Architectural Style:  \
0     2nd Level15'2'' x 14'4''                  NaN
1     3rd Level17'2'' x 17'2''                  NaN
2    2nd Level18'5'' x 11'10''                  NaN
3     2nd Level14'3'' x 15'6''                  NaN
4         2nd Level5.36 X 3.38            Two Story
..                         ...                  ...
745       2nd Level3.66 X 4.01            Two Story
746       2nd Level3.66 X 4.01            Two Story
747       2nd Level3.61 X 3.94            Two Story
748       2nd Level4.65 X 4.27            Two Story
749       2nd Level4.78 X 4.57            Two Story

             Driveway Parking:  Number_Parking_Spaces
0                          NaN                    4.0
1                          NaN                    7.0
2                          NaN                    4.0
3                          NaN                    3.0
4    Private Drive Single Wide                    3.0
..                         ...                    ...
745  Private Drive Single Wide                    NaN
746  Private Drive Single Wide                    NaN
747  Private Drive Single Wide                    NaN
748  Private Drive Single Wide                    NaN
749  Private Drive Double Wide                    4.0

[750 rows x 11 columns]

In [59]:
# 2. bedrooms, bathrooms column name, datatype need to change 
# There are some value 4+1 it also need to be change

def convert_to_int(val):
    res = []
    for i in val:
        if pd.isna(i):
            res.append(i)
            continue
        str_val = str(i)
        if '+' in str_val:
            s = sum(int(num) for num in str_val.split('+'))
            res.append(s)
        else:
            res.append(int(float(str_val)))  
    return res
    # try:
    #     return int(eval(val))
    # except:
    #     return val

In [61]:
# data['Bathrooms:'] = data['Bathrooms:'].apply(convert_to_int)
data.rename(columns={'Bathrooms:': 'NumBathrooms'}, inplace=True)
bathrooms_value =  convert_to_int(data['NumBathrooms'])
data['NumBathrooms'] = bathrooms_value

data.head()

,Price,Bedrooms:,NumBathrooms,Floor Space (approx):,Lot Frontage:,Bathroom,Bedroom,Primary Bedroom,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,1149000.0,4+1,5.0,2538,49.0 Feet,Main LevelMeasurements not available,Basement Level11'11'' x 18'4'',2nd Level15'2'' x 14'4'',NaN,NaN,4.0
1,998900.0,3,4.0,2728,49.0 Feet,Lower Level5'3'' x 2'8'',2nd Level14'6'' x 13'3'',3rd Level17'2'' x 17'2'',NaN,NaN,7.0
2,799900.0,3,3.0,1665,38.0 Feet,Main Level6' x 3'1'',2nd Level12'2'' x 10'7'',2nd Level18'5'' x 11'10'',NaN,NaN,4.0
3,772888.0,3,4.0,1745,31.0 Feet,Main Level5'1'' x 5'1'',2nd Level14'0'' x 15'0'',2nd Level14'3'' x 15'6'',NaN,NaN,3.0
4,624900.0,3,2.0,1585 Square Feet,30.28 Feet,2nd Level,2nd Level3.96 X 3.07,2nd Level5.36 X 3.38,Two Story,Private Drive Single Wide,3.0

In [62]:
data.rename(columns={'Bedrooms:': 'NumBedrooms'}, inplace=True)
bedroom_value =  convert_to_int(data['NumBedrooms'])
data['NumBedrooms'] = bedroom_value

data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Lot Frontage:,Bathroom,Bedroom,Primary Bedroom,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.0 Feet,Main LevelMeasurements not available,Basement Level11'11'' x 18'4'',2nd Level15'2'' x 14'4'',NaN,NaN,4.0
1,998900.0,3.0,4.0,2728,49.0 Feet,Lower Level5'3'' x 2'8'',2nd Level14'6'' x 13'3'',3rd Level17'2'' x 17'2'',NaN,NaN,7.0
2,799900.0,3.0,3.0,1665,38.0 Feet,Main Level6' x 3'1'',2nd Level12'2'' x 10'7'',2nd Level18'5'' x 11'10'',NaN,NaN,4.0
3,772888.0,3.0,4.0,1745,31.0 Feet,Main Level5'1'' x 5'1'',2nd Level14'0'' x 15'0'',2nd Level14'3'' x 15'6'',NaN,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28 Feet,2nd Level,2nd Level3.96 X 3.07,2nd Level5.36 X 3.38,Two Story,Private Drive Single Wide,3.0

In [64]:
def extract_number(val):
    return val.str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [65]:
data.rename(columns={'Lot Frontage:': 'Frontyard_space_in_ft'}, inplace=True)
Frontyard_space =  extract_number(data['Frontyard_space_in_ft'])
data['Frontyard_space_in_ft'] = Frontyard_space
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom,Bedroom,Primary Bedroom,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,Main LevelMeasurements not available,Basement Level11'11'' x 18'4'',2nd Level15'2'' x 14'4'',NaN,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,Lower Level5'3'' x 2'8'',2nd Level14'6'' x 13'3'',3rd Level17'2'' x 17'2'',NaN,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,Main Level6' x 3'1'',2nd Level12'2'' x 10'7'',2nd Level18'5'' x 11'10'',NaN,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,Main Level5'1'' x 5'1'',2nd Level14'0'' x 15'0'',2nd Level14'3'' x 15'6'',NaN,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,2nd Level,2nd Level3.96 X 3.07,2nd Level5.36 X 3.38,Two Story,Private Drive Single Wide,3.0

In [68]:
data['Bathroom'].unique()

array(['Main LevelMeasurements not available', "Lower Level5'3'' x 2'8''",
       "Main Level6' x 3'1''", "Main Level5'1'' x 5'1''", '2nd Level',
       "Main Level4'8'' x 6'3''", '2nd Level0.00 X 0.00', 'Main Level',
       nan, 'Main Level1.52 X 2.41',
       'Main Level1.23 m x 0.93 m4.04 ft x 3.05 ft',
       'Main Level2.13 X 1.80', 'Main Level3.43 X 1.96', '3rd Level',
       'Other level\n                \n            \n        \n        \n            \n                :Lower1.70 X 2.34',
       'Main Level0.89 X 1.98', '2nd Level2.49 X 2.46',
       'Other level\n                \n            \n        \n        \n            \n                :Lower',
       'Other level\n                \n            \n        \n        \n            \n                :Lower1.73 X 1.65',
       '2nd Level1.20 m x 1.40 m3.94 ft x 4.59 ft',
       'Main Level1.65 X 1.32', '2nd Level2.97 X 1.55',
       '2nd Level2.77 X 2.08',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.38 X 1.55',
       'Main Level1.75 X 1.09', '2nd Level2.79 X 1.57',
       'Upper Level3.65 m x 2.43 m11.98 ft x 7.97 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Lower1.70 X 1.40',
       'Main Level1.22 X 1.22', '2nd Level1.60 X 3.00',
       '2nd Level2.36 X 3.38', '2nd Level1.78 X 2.62',
       '2nd Level2.46 X 2.26', 'Main Level2.36 X 2.36',
       'Ground LevelMeasurements not available', 'Main Level3.66 X 1.52',
       'Basement LevelMeasurements not available', 'Basement Level',
       "Ground Level8' '' x 5' ''", 'Basement Level1.91 X 2.29',
       'Main Level2.51 X 2.29',
       'Main Level3 ft ,3 in x Measurements not available',
       '2nd Level3.76 X 2.44', 'Main Level3.66 X 1.73',
       'Main Level1.83 m x 2.49 m6.00 ft x 8.17 ft',
       'Main Level2.84 X 2.13',
       'Main Level1.52 m x 1.63 m4.99 ft x 5.35 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Lower1.50 X 2.39',
       'Main Level2.11 X 1.57', 'Main Level3.17 X 1.78',
       'Main Level2.39 X 2.24', '2nd Level2.54 X 1.55',
       'Other level\n                \n            \n        \n        \n            \n                :Lower1.93 X 1.83',
       'Main Level3.07 X 1.68', 'Main Level1.68 X 0.00',
       '2nd Level2.51 X 2.08',
       'Main Level1.64 m x 1.25 m5.38 ft x 4.10 ft',
       'Lower LevelMeasurements not available', '2nd Level3.94 X 2.95',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.12 X 1.98',
       '3rd Level0.00 X 0.00', 'Main Level2.11 X 2.16',
       'Main Level1.52 X 2.13',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.57 X 2.01',
       'Flat/Apartment LevelMeasurements not available',
       'Main Level1.68 X 1.83', '2nd Level3.71 X 3.66',
       'Main Level3.28 X 2.29', 'Main Level3.71 X 1.60',
       'Main Level2.41 X 2.49', '2nd Level2.77 X 2.59',
       'Other level\n                \n            \n        \n        \n            \n                :Main LevelNote:Bath 4-Piece',
       'Main Level2.69 X 2.18', '2nd Level1.57 X 4.50',
       'Main Level1.52 X 3.05', 'Main Level2.16 X 1.96',
       '2nd LevelMeasurements not available', 'Main Level1.42 X 1.47',
       'Main Level1.50 X 1.22', 'Main Level1.37 X 2.44',
       'Main Level2.57 X 1.52', 'Main Level1.70 X 2.39',
       '2nd Level3.43 X 1.75',
       'Main Level3.45 m x 2.57 m11.32 ft x 8.43 ft',
       '2nd Level2.44 X 2.31 X 2.44', 'Main Level2.13 X 0.91 X 2.74',
       'Main Level1.75 X 1.52 X 2.74', 'Main Level2.44 X 1.50 X 2.74',
       '2nd Level2.74 X 2.59', '2nd Level1.83 X 2.13',
       'Other level\n                \n            \n        \n        \n            \n                :Lower1.83 X 1.22',
       'Basement Level4.60 X 3.00', 'Main Level1.83 X 1.22',
       'Main Level2.41 X 1.57', 'Basement Level2.90 X 1.57',
       'Main Level2.87 m x 4.47 m9.42 ft x 14.67 ft',
       'Basement Level2.51 X 3.30', 'Main Level2.87 X 4.47',
       'Main Level2.90 X 1.52', 'Main Level2.84 X 2.51',
       'Main Level1.73 X 1.63', '2nd Level1.50 X 3.35 X 0.00',
       'Main Level2.24 X 1.07',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.84 X 2.26',
       'Main Level2.39 X 1.07', '3rd Level3.30 X 1.68',
       'Main Level1.83 X 1.83', '2nd Level2.39 X 2.26',
       '2nd Level3.99 X 4.32', 'Main Level2.26 X 1.88',
       '2nd Level1.68 X 3.40', '2nd Level2.97 X 1.47',
       '2nd Level2.74 X 1.80', 'Main Level1.07 X 2.16',
       'Main Level2.16 X 1.37',
       'Main Level1.65 m x 2.46 m5.41 ft x 8.07 ft',
       'Main Level2.34 m x 1.50 m7.68 ft x 4.92 ft',
       'Main Level2.26 X 3.20', '2nd Level2.36 X 2.21',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.23 X 1.91',
       'Main Level2.34 X 1.50',
       '2nd Level2.32 m x 3.66 m7.61 ft x 12.01 ft',
       'Basement Level4.22 m x 6.00 m13.85 ft x 19.69 ft',
       '3rd LevelMeasurements not available', 'Main Level2.84 X 1.35',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.36 X 1.73',
       'Main Level2.51 X 1.93', 'Main Level1.98 X 1.60',
       'Main Level1.93 X 2.54',
       '2nd Level2.80 m x 1.61 m9.19 ft x 5.28 ft',
       'Main Level2.44 X 2.41', 'Main Level2.13 X 2.74',
       'Main Level3.12 X 1.52', '2nd Level2.87 X 2.97',
       'Basement Level0.00 X 0.00', '2nd Level2.49 X 2.06',
       'Main Level1.68 X 1.52', 'Main Level2.13 X 2.18',
       '1.05 m x 2.37 m3.44 ft x 7.78 ft', 'Main Level0.00 X 0.00',
       '2nd Level2.74 X 1.52', 'Main Level1.50 X 1.80',
       'Main Level1.96 X 1.68', 'Main Level2.31 X 1.47',
       'Main Level3.20 X 1.65', '2nd Level2.74 X 1.83',
       '2nd Level4.06 X 1.50', '2nd Level2.36 X 3.66',
       'Main Level2.49 X 2.31'], dtype=object)

In [124]:
def check_bathroom_level(bathroom_value):
    bathroom_level = []
    levels = ['Main Level', 'Other level', '2nd Level','3rd Level','Lower Level', 'Upper Level', 'Ground Level', 'Basement Level']
    for i in bathroom_value:
        found = False
        
        for level in levels:
            if level in str(i):
                bathroom_level.append(level)
                found = True
                break

        if not found:
            bathroom_level.append(i)

        
    return bathroom_level

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            696 non-null    float64
 2   NumBathrooms           629 non-null    float64
 3   Floor Space (approx):  530 non-null    object
 4   Frontyard_space_in_ft  483 non-null    float64
 5   Bathroom_Level         509 non-null    object
 6   Bedroom                556 non-null    object
 7   Primary Bedroom        474 non-null    object
 8   Architectural Style:   463 non-null    object
 9   Driveway Parking:      516 non-null    object
 10  Number_Parking_Spaces  360 non-null    float64
dtypes: float64(5), object(6)
memory usage: 64.6+ KB

In [115]:
# data.rename(columns={'Bathroom': 'Bathroom_Level'}, inplace=True)
bathroom_level = check_bathroom_level(data['Bathroom_Level'])
data['Bathroom_Level'] = bathroom_level
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom,Primary Bedroom,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,Main Level,Basement Level11'11'' x 18'4'',2nd Level15'2'' x 14'4'',NaN,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,NaN,2nd Level14'6'' x 13'3'',3rd Level17'2'' x 17'2'',NaN,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,Main Level,2nd Level12'2'' x 10'7'',2nd Level18'5'' x 11'10'',NaN,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,Main Level,2nd Level14'0'' x 15'0'',2nd Level14'3'' x 15'6'',NaN,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,2nd Level,2nd Level3.96 X 3.07,2nd Level5.36 X 3.38,Two Story,Private Drive Single Wide,3.0

In [116]:
data['Bedroom'].unique()

array(["Basement Level11'11'' x 18'4''", "2nd Level14'6'' x 13'3''",
       "2nd Level12'2'' x 10'7''", "2nd Level14'0'' x 15'0''",
       '2nd Level3.96 X 3.07', '2nd Level4.98 X 3.84', nan,
       "Main Level11'6'' x 10'3''", '2nd Level4.67 X 3.63',
       '2nd Level4.57 X 3.12', 'Main Level3.96 X 3.66',
       'Main Level2.41 m x 3.17 m7.91 ft x 10.40 ft',
       '2nd Level4.57 X 2.74', 'Main Level2.51 X 3.00',
       '2nd Level3.04 m x 4.57 m9.97 ft x 14.99 ft',
       '2nd Level3.43 X 2.92', 'Main Level3.48 X 3.25',
       'Main Level2.82 X 2.92', '3rd Level3.33 X 2.41',
       '2nd Level3.05 X 3.35', '2nd Level3.89 X 3.33',
       'Main Level3.45 m x 2.59 m11.32 ft x 8.50 ft',
       '2nd Level2.82 X 2.69',
       'Main Level3.38 m x 3.10 m11.09 ft x 10.17 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.58 X 3.25',
       '2nd Level2.82 X 2.74', '2nd Level2.95 X 2.57',
       'Main Level2.51 X 2.64', '3rd Level2.74 X 2.74',
       '2nd Level4.17 X 4.09', '2nd Level4.09 X 3.28',
       'Main Level3.45 X 2.44', '2nd Level3.02 X 3.94',
       'Main Level4.32 X 3.61', '2nd Level4.27 X 3.81',
       '2nd Level3.30 X 2.74', '2nd Level3.35 X 3.58',
       '2nd Level3.53 X 4.37', '2nd Level2.39 X 3.63',
       'Main Level4.88 X 2.44', '2nd Level4.62 X 3.48',
       'Other level\n                \n            \n        \n        \n            \n                :Lower6.20 X 3.43',
       'Basement Level4.04 m x 3.99 m13.25 ft x 13.09 ft',
       'Main LevelMeasurements not available', '2nd Level2.77 X 2.62',
       'Main Level3.81 X 3.51',
       'Basement Level3.25 m x 2.92 m10.66 ft x 9.58 ft',
       '2nd Level3.40 X 3.17', '2nd Level3.35 X 2.69',
       '2nd Level3.51 X 3.10',
       'Basement Level4.53 m x 4.83 m14.86 ft x 15.85 ft',
       '2nd LevelMeasurements not available',
       'Main Level3.07 m x 2.54 m10.07 ft x 8.33 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.45 X 3.38',
       '2nd Level2.74 X 3.66',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.53 X 4.11',
       '2nd Level3.66 m x 3.30 m12.01 ft x 10.83 ft',
       '2nd Level4.78 X 3.63',
       '2nd Level5.65 m x 3.60 m18.54 ft x 11.81 ft',
       '2nd Level2.92 X 3.89',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.66 X 7.75',
       '2nd Level3.66 X 3.35', '2nd Level3.45 X 3.99',
       'Main Level3.33 X 2.92', "Main Level11'0'' x 9'0''",
       'Main Level5.49 X 3.10', 'Main Level4.34 X 3.00',
       'Basement Level4.60 m x 3.15 m15.09 ft x 10.33 ft',
       'Main Level2.84 X 2.59', '2nd Level4.24 X 2.54',
       "Ground Level10' 9'' x 10' 5''", 'Main Level3.61 X 4.27',
       'Lower Level3.05 m x 2.36 m10.01 ft x 7.74 ft',
       'Main Level4.44 X 3.33', "Main Level9'3'' x 10'6''",
       'Main Level4.88 X 3.20', 'Main Level2.90 X 2.74',
       '2nd Level4.24 X 3.35',
       'Lower Level4.22 m x 3.20 m13.85 ft x 10.50 ft',
       'Main Level3.02 m x 3.56 m9.91 ft x 11.68 ft',
       '2nd Level3.30 X 3.15', 'Main Level3.02 X 3.56',
       '2nd Level4.22 X 2.59', '2nd Level3.25 X 3.20',
       "Ground Level13' '' x 12' ''",
       'Basement Level2.59 m x 3.41 m8.50 ft x 11.19 ft',
       'Main Level2.88 m x 2.77 m9.45 ft x 9.09 ft',
       'Basement Level3.33 m x 3.02 m10.93 ft x 9.91 ft',
       'Main Level4.38 m x 3.03 m14.37 ft x 9.94 ft',
       '2nd Level2.97 X 3.33', 'Basement LevelMeasurements not available',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.70 X 3.35',
       '2nd Level3.12 X 3.15',
       'Basement Level3.81 m x 3.35 m12.50 ft x 10.99 ft',
       'Main Level4.47 m x 4.28 m14.67 ft x 14.04 ft',
       '2nd Level3.23 X 3.17', '2nd Level4.57 X 3.02',
       'Main Level3.35 m x 2.44 m10.99 ft x 8.01 ft',
       '2nd Level4.17 X 2.62', 'Main Level3.48 X 3.35',
       '2nd Level3.76 X 4.01', 'Main Level4.55 X 2.82',
       'Main Level2.90 m x 3.28 m9.51 ft x 10.76 ft',
       'Main Level3.07 X 2.84',
       'Lower Level3.33 m x 1.00 m10.93 ft x 3.28 ft',
       '3rd Level3.66 X 3.20', 'Main Level3.25 X 3.56',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.70 X 3.28',
       '3rd Level2.72 X 4.04', 'Main Level3.66 X 3.53',
       '3rd Level3.07 X 2.74',
       '3rd Level3.20 m x 2.54 m10.50 ft x 8.33 ft',
       "3rd Level11' '' x 9' ''", 'Main Level3.12 X 2.74',
       'Main Level2.74 X 3.15', 'Main Level4.32 X 3.35',
       '2nd Level4.39 X 3.30', 'Main Level2.79 X 3.00',
       '2nd Level4.22 X 3.58',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.67 X 2.64',
       'Main Level2.87 X 3.58', 'Main Level3.78 X 0.00',
       '2nd Level4.70 m x 4.20 m15.42 ft x 13.78 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.45 X 2.97',
       '2nd Level3.20 X 3.28', 'Main Level3.76 X 2.97',
       '2nd Level3.40 X 3.12', '2nd Level3.05 X 4.19',
       '2nd Level3.20 X 4.06', '2nd Level3.38 X 3.94',
       'Main Level2.64 X 3.96', 'Main Level3.89 X 2.49',
       '2nd Level3.20 X 3.05', '2nd Level3.28 X 3.66',
       '2nd Level3.56 X 2.64', '2nd Level3.23 X 4.09',
       'Main Level4.55 m x 3.48 m14.93 ft x 11.42 ft',
       '2nd Level6.50 X 4.17',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.34 X 2.64',
       '2nd Level5.20 m x 3.60 m17.06 ft x 11.81 ft',
       '2nd Level3.51 X 3.35',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.66 X 2.74',
       '2nd Level3.99 X 2.49', 'Main Level2.31 X 3.35',
       '2nd Level3.35 X 4.65', 'Main Level3.12 X 3.61',
       '2nd Level3.96 X 3.38', '2nd Level3.35 X 3.91',
       '2nd Level4.17 X 3.28',
       '2nd Level4.35 m x 3.68 m14.27 ft x 12.07 ft',
       '2nd Level4.17 X 3.63', '2nd Level2.92 X 3.96',
       '2nd Level4.26 m x 3.81 m13.98 ft x 12.50 ft',
       'Basement Level4.04 X 2.95', 'Main Level3.91 X 3.05',
       '2nd Level4.44 X 5.74', '2nd Level4.01 X 4.14',
       '2nd Level3.89 X 3.07', '2nd Level3.71 X 4.17',
       'Main Level3.66 X 3.05', '2nd Level3.68 X 3.68',
       '2nd Level3.56 X 3.71',
       'Flat/Apartment LevelMeasurements not available',
       '2nd Level2.74 X 3.20',
       'Basement Level5.66 m x 3.45 m18.57 ft x 11.32 ft',
       '2nd Level2.54 X 4.44', '2nd Level4.01 X 3.56',
       'Main Level3.35 X 3.35', '2nd Level3.99 X 3.38',
       '2nd Level3.20 X 4.29',
       'Main Level3.96 m x 3.20 m12.99 ft x 10.50 ft',
       '2nd Level3.58 X 3.91', '2nd Level3.78 X 3.56',
       '2nd Level8.90 m x 11.20 m29.20 ft x 36.75 ft',
       'Main Level2.46 X 3.81', '2nd Level3.84 X 2.69',
       '2nd Level3.35 X 4.09', 'Basement Level2.97 X 3.99',
       '2nd Level3.12 X 2.95',
       '2nd Level3.99 m x 4.87 m13.09 ft x 15.98 ft',
       'Main Level5.26 X 3.51',
       'Basement Level3.86 m x 3.35 m12.66 ft x 10.99 ftNote:B/I Closet, Broadloom',
       '2nd Level3.28 X 3.05',
       '2nd Level4.72 m x 3.89 m15.49 ft x 12.76 ft',
       '2nd Level3.51 m x 2.72 m11.52 ft x 8.92 ft',
       'Main Level2.74 m x 2.44 m8.99 ft x 8.01 ft',
       '2nd Level4.24 X 3.91', '2nd Level3.76 X 3.61',
       '2nd Level3.51 X 4.34', 'Main Level3.17 X 2.72',
       '2nd Level3.53 X 2.72', '2nd Level2.84 X 3.38',
       'Main Level3.38 X 2.74', '2nd Level3.99 X 4.11',
       '2nd Level7.06 X 5.11', '2nd Level3.71 X 3.66',
       'Basement Level3.23 X 3.48', '2nd Level3.71 X 3.45',
       'Main Level4.57 X 3.05', '2nd Level2.72 X 3.61',
       '2nd Level3.73 m x 3.12 m12.24 ft x 10.24 ft',
       'Main Level3.05 X 2.97', 'Main Level4.04 X 3.20',
       'Main Level3.71 X 2.79', 'Main Level3.45 X 3.02',
       '2nd Level4.24 X 3.40', '2nd Level3.73 X 3.12',
       '2nd Level0.00 X 0.00', 'Main Level3.23 X 2.92',
       'Main Level4.09 X 3.10',
       'Other level\n                \n            \n        \n        \n            \n                :Main Level2.83 m x  m9.3 ft x 8.10 IRREG ft',
       'Main Level3.20 X 2.72', '2nd Level3.58 X 3.25',
       'Main Level3.66 X 3.45',
       'Main Level3.68 m x 3.45 m12.07 ft x 11.32 ft',
       '2nd Level4.06 X 2.92',
       '2nd Level3.97 m x 4.45 m13.02 ft x 14.60 ft',
       '2nd Level3.35 X 6.10', 'Main Level3.12 X 3.10',
       'Main Level2.44 X 2.84',
       'Other level\n                \n            \n        \n        \n            \n                :Lower7.29 X 3.51',
       '2nd Level4.34 X 4.06', '2nd Level0.97 X 1.22',
       'Ground LevelMeasurements not available', 'Main Level2.39 X 3.63',
       'Main Level3.05 X 3.81', '2nd Level4.06 X 3.78',
       '2nd Level4.17 m x 3.76 m13.68 ft x 12.34 ft',
       '2nd Level2.46 X 3.51', '2nd Level4.01 X 3.07',
       'Basement Level15.00 m x 12.00 m49.21 ft x 39.37 ft',
       "2nd Level13'5'' x 9'0''", 'Main Level4.57 X 3.40',
       'Main Level3.34 m x 3.05 m10.96 ft x 10.01 ft',
       '2nd Level3.07 X 3.81', '2nd Level3.07 X 4.27',
       '2nd Level4.29 X 3.71',
       'Other level\n                \n            \n        \n        \n            \n                :Upper2.92 X 3.43',
       'Main Level2.90 X 3.02', 'Main Level4.52 X 3.15',
       '2nd Level3.73 X 3.61', '2nd Level3.40 X 3.05',
       'Main Level3.48 X 3.05', '2nd Level3.53 X 3.17',
       'Main Level3.56 X 3.30', '2nd Level4.39 X 5.79',
       '2nd Level3.66 X 3.51', '2nd Level4.01 X 3.66',
       '2nd Level4.39 X 3.94', '2nd Level3.35 X 3.35',
       '2nd Level16.00 m x 12.60 m52.49 ft x 41.34 ft',
       '2nd Level3.56 X 3.58', '2nd Level3.17 X 3.89',
       'Main Level3.33 X 4.37', 'Main Level3.25 X 2.95',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.30 X 4.83',
       'Main Level2.97 X 3.35', 'Basement Level3.38 X 3.02',
       'Main Level4.72 m x 2.36 m15.49 ft x 7.74 ft',
       '2nd Level2.90 X 2.74',
       '2nd Level3.05 m x 3.05 m10.01 ft x 10.01 ft',
       '2nd Level3.45 X 3.66', '2nd Level3.76 X 3.81',
       '2nd Level3.89 X 3.61', '2nd Level3.17 X 3.86',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.23 X 3.20',
       '2nd Level4.22 X 3.17', 'Main Level3.10 X 3.17',
       '2nd Level4.37 X 3.05', '2nd Level3.51 X 3.12',
       'Main Level2.62 m x 3.33 m8.60 ft x 10.93 ft',
       '2nd Level3.07 X 3.07', '2nd Level3.20 X 3.66',
       '2nd Level3.91 X 3.05', '2nd Level3.40 X 3.30',
       '2nd Level3.35 X 3.05 X 2.44', 'Main Level3.40 X 3.05',
       '2nd Level3.35 X 2.77 X 2.44', 'Main Level3.17 X 3.05 X 2.74',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.51 X 2.82',
       'Other level\n                \n            \n        \n        \n            \n                :Lower5.28 X 3.23',
       'Main Level5.18 X 2.72', 'Main Level3.61 X 2.95',
       'Main Level4.98 X 3.30', '2nd Level3.28 X 4.01',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.17 X 3.76',
       'Main Level3.40 X 2.69',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.82 X 3.99',
       'Main Level3.76 X 2.92', 'Main Level4.72 X 2.74',
       'Main Level3.66 X 2.77', 'Main Level4.32 X 3.58',
       'Main Level2.74 X 3.78', '2nd Level6.25 X 3.99',
       '2nd Level4.80 X 3.05', '2nd Level3.05 X 3.40',
       '2nd Level3.68 X 4.62', '2nd Level4.27 X 3.07',
       '2nd Level3.68 X 3.99', '2nd Level4.27 X 3.02',
       'Main Level3.56 X 2.74', 'Basement Level3.40 X 4.85',
       '2nd Level2.82 X 2.95', '2nd Level4.04 X 3.12',
       '2nd Level3.17 X 4.24',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.78 X 3.17',
       '2nd Level3.05 X 3.81', 'Main Level3.91 X 3.48',
       'Main Level3.51 X 2.92', 'Main Level3.15 X 3.10',
       '2nd Level3.63 X 3.96',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.28 X 2.44',
       'Main Level3.00 X 2.74', 'Main Level2.79 X 2.44',
       '2nd Level5.72 X 4.50', '2nd Level3.12 X 3.35',
       '2nd Level3.15 X 3.76', '2nd Level3.15 X 3.05',
       '2nd Level3.35 X 2.97', '2nd Level3.20 X 3.35',
       '2nd Level3.61 X 3.28', '2nd Level4.19 X 3.05',
       'Main Level3.28 X 3.15',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.61 X 3.51',
       'Ground Level5.61 m x 3.53 m18.41 ft x 11.58 ft',
       '2nd Level3.51 X 3.28', '2nd Level4.29 X 3.43 X 2.74',
       '2nd Level3.71 X 3.81', '2nd Level3.12 X 3.63',
       '2nd Level3.05 X 2.77', '2nd Level3.25 X 3.53',
       'Main Level3.45 X 3.23', '2nd Level3.45 X 3.15',
       'Main Level3.78 X 2.49', 'Main Level4.83 X 5.38',
       '2nd Level3.56 X 5.26', '2nd Level3.56 X 3.35',
       '2nd Level3.99 X 2.90', 'Basement Level4.83 X 5.84',
       '2nd Level4.11 X 3.02', '2nd Level3.56 X 2.92',
       '2nd Level3.40 X 4.04', '2nd Level4.09 X 3.63',
       'Basement Level2.39 X 3.38', 'Basement Level2.49 X 4.09',
       'Main Level2.74 X 3.10', '2nd Level3.48 X 3.25',
       'Basement Level2.77 X 4.34', 'Main Level1.83 X 1.42',
       '2nd Level3.78 X 3.17', '2nd Level3.05 X 4.14',
       'Main Level5.99 X 3.78', '3rd Level2.95 X 3.30',
       '3rd Level3.51 X 2.95',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.00 X 3.45',
       '2nd Level4.11 X 3.96',
       '2nd Level4.04 m x 4.54 m13.25 ft x 14.90 ft',
       'Main Level3.66 X 3.07',
       'Main Level2.85 m x 2.96 m9.35 ft x 9.71 ft',
       '2nd Level3.66 X 3.40', '2nd Level3.25 X 3.07',
       '2nd Level3.61 X 3.05', 'Basement Level3.56 X 2.64',
       'Main Level3.15 X 3.35', 'Main Level3.66 X 2.95',
       'Basement Level5.49 X 4.24', 'Main Level5.28 X 3.38',
       'Main Level4.01 X 3.84', '2nd Level3.53 X 3.61',
       '2nd Level3.86 X 3.58', '2nd Level3.23 X 2.82',
       'Main Level4.09 X 2.46', '2nd Level4.14 X 3.33',
       '2nd Level3.05 X 3.68',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.75 X 3.38',
       '2nd Level3.07 X 2.95',
       '2nd Level4.80 m x 3.66 m15.75 ft x 12.01 ft',
       '2nd Level3.35 X 3.05',
       'Main Level3.89 m x 3.12 m12.76 ft x 10.24 ft',
       '2nd Level10.42 m x 9.33 m34.19 ft x 30.61 ft',
       'Main Level4.06 X 2.74',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.25 X 2.95',
       'Main Level3.25 X 2.72', 'Main Level2.90 X 2.69',
       'Main Level2.84 X 2.69', 'Basement Level3.28 X 3.56',
       '2nd Level4.47 X 3.17', '2nd Level3.15 X 3.48',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.15 X 4.04',
       'Upper Level4.80 m x 3.76 m15.75 ft x 12.34 ft',
       '2nd Level3.38 X 3.05', '2nd Level3.53 X 2.90',
       'Main Level3.96 X 3.00', '3rd Level3.66 X 3.05',
       'Main Level2.92 X 3.07', '2nd Level5.16 X 5.44',
       'Main Level3.66 X 3.66', 'Main Level4.11 X 3.35',
       "Ground Level11' 2'' x 8' 10''",
       'Main Level3.40 m x 2.46 m11.15 ft x 8.07 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.87 X 3.73',
       '2nd Level4.50 X 3.81', 'Main Level3.63 X 3.10',
       '2nd Level3.78 X 3.63',
       'Main Level3.33 m x 2.84 m10.93 ft x 9.32 ft',
       '3rd Level3.23 X 3.05',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.60 X 3.33',
       'Main Level2.74 X 2.64',
       'Main Level3.78 m x 2.49 m12.40 ft x 8.17 ft',
       '2nd Level3.48 X 3.05', '2nd Level4.27 X 3.96',
       '2nd Level4.34 X 3.63', 'Main Level3.78 X 3.07',
       'Main Level4.72 X 3.12', 'Main Level2.59 X 2.13',
       '2nd Level3.96 X 3.12', '2nd Level4.88 X 3.35',
       '2nd Level4.85 m x 3.23 m15.91 ft x 10.60 ft',
       'Main Level5.18 X 3.35', '2nd Level3.66 X 3.45',
       '2nd Level3.81 X 3.91', '2nd Level3.17 X 4.37',
       '2nd Level3.15 X 3.02', '2nd Level3.17 X 2.97',
       'Main Level3.38 m x 2.77 m11.09 ft x 9.09 ft',
       'Basement Level3.78 X 4.47', '3rd Level4.11 X 2.82',
       '2nd Level2.54 X 4.11', 'Main Level3.71 X 2.49',
       'Main Level3.05 m x 3.45 m10.01 ft x 11.32 ft',
       '2nd Level4.24 X 4.57', '2nd Level4.01 X 3.96',
       '2nd Level3.66 X 3.15', 'Main Level3.71 X 5.36',
       'Main Level3.07 X 2.72', 'Main Level3.20 X 2.49',
       'Main Level3.89 X 4.09', 'Main Level2.74 X 2.79',
       'Main Level3.63 X 2.79', 'Main Level3.89 X 4.27',
       'Main Level3.00 X 2.87', 'Main Level3.30 X 3.51',
       'Main Level2.90 X 3.00', '2nd Level2.79 X 2.95',
       '2nd Level3.00 X 3.66',
       '2nd Level3.35 m x 3.74 m10.99 ft x 12.27 ft',
       '2nd Level4.27 X 4.11', '3.35 m x 4.10 m10.99 ft x 13.45 ft',
       '2nd Level4.44 X 3.30', '2nd Level3.63 X 3.02',
       '2nd Level3.86 X 3.63', '2nd Level3.68 X 3.86',
       '2nd Level3.81 X 4.06', '2nd Level3.81 X 3.05',
       '2nd Level2.92 X 3.84', 'Main Level2.87 X 2.87',
       'Main Level3.45 X 4.27', '2nd Level3.58 X 4.65',
       'Basement Level0.00 X 0.00', '2nd Level3.48 X 3.51',
       '2nd Level3.56 X 3.38', 'Main Level3.28 X 2.82',
       '2nd Level3.96 X 3.51', '2nd Level3.66 X 3.48',
       '2nd Level3.38 X 3.58', '2nd Level3.84 X 4.06',
       '2nd Level3.68 X 3.25',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.39 X 2.77',
       'Main Level3.35 X 3.20', 'Main Level3.20 X 3.35',
       'Main Level3.05 X 3.05',
       '2nd Level4.93 m x 3.81 m16.17 ft x 12.50 ft',
       '2nd Level5.46 m x 2.00 m17.91 ft x 6.56 ft',
       '2nd Level4.34 X 4.11', '2nd Level3.35 X 3.25',
       '2nd Level3.58 X 3.35', '2nd Level4.93 X 3.81',
       '2nd Level3.45 X 3.78',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.75 X 3.40',
       'Main Level2.77 X 4.04', '2nd Level3.02 X 3.53',
       '2nd Level3.10 X 3.35', 'Main Level4.29 X 2.77',
       'Main Level3.05 X 3.45', 'Main Level3.28 X 2.46',
       'Main Level3.23 X 3.25', '2nd Level3.25 X 3.35',
       'Main Level3.91 X 6.76', 'Main Level2.49 X 2.77',
       '2nd Level3.40 X 3.40', '2nd Level3.05 X 3.05',
       '2nd Level3.63 X 3.63', '2nd Level3.38 X 3.35',
       '2nd Level5.21 X 4.27', '2nd Level3.58 X 3.40',
       '2nd Level4.04 X 4.11', 'Main Level3.33 X 3.00',
       'Basement Level5.59 X 4.19', '2nd Level3.61 X 3.96',
       '2nd Level3.15 X 3.96', '2nd Level3.35 X 3.66',
       "2nd Level10'0'' x 12'6''", '2nd Level3.35 X 3.71',
       '2nd Level3.66 X 3.68',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.52 X 3.96',
       'Main Level3.96 X 3.40', '2nd Level3.35 X 3.28',
       '2nd Level2.74 X 3.51', '2nd Level3.07 X 3.05',
       '2nd Level4.65 X 3.35'], dtype=object)

In [125]:
# data.rename(columns={'Bedroom': 'Bedroom_Level'}, inplace=True)

bedroom_level = check_bathroom_level(data['Bedroom_Level'])
data['Bedroom_Level'] = bedroom_level 
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,Main Level,Basement Level,2nd Level,NaN,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,NaN,2nd Level,3rd Level,NaN,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,Main Level,2nd Level,2nd Level,NaN,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,Main Level,2nd Level,2nd Level,NaN,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,2nd Level,2nd Level,2nd Level,Two Story,Private Drive Single Wide,3.0

In [118]:
data['Primary Bedroom'].unique()

array(["2nd Level15'2'' x 14'4''", "3rd Level17'2'' x 17'2''",
       "2nd Level18'5'' x 11'10''", "2nd Level14'3'' x 15'6''",
       '2nd Level5.36 X 3.38', nan,
       '2nd Level4.27 m x 3.96 m14.01 ft x 12.99 ft',
       "Main Level11'7'' x 17'11''", 'Main Level6.58 X 6.05',
       '2nd Level5.18 X 4.52', 'Main Level4.27 X 3.96',
       '2nd Level4.27 X 3.96', 'Main Level3.38 X 2.95',
       '2nd Level3.38 X 3.99', 'Main Level3.99 X 5.38',
       'Main Level3.81 X 3.10', '3rd Level4.29 X 3.51',
       '2nd Level3.05 X 4.75', '2nd Level3.91 X 3.76',
       '2nd Level3.02 X 3.91', '2nd LevelMeasurements not available',
       '2nd Level4.44 X 2.97', '2nd Level4.47 X 3.20',
       'Main Level3.10 X 4.14', '2nd Level6.53 X 3.45',
       '2nd Level5.69 X 3.71', '2nd Level3.02 X 3.58',
       '2nd Level3.96 m x 2.74 m12.99 ft x 8.99 ft',
       '2nd Level4.57 X 3.96', '2nd Level4.72 X 3.81',
       '2nd Level4.80 X 3.66', '2nd Level4.39 X 4.24',
       '2nd Level6.71 X 3.05', '2nd Level5.44 X 5.21',
       '2nd Level5.16 X 4.29',
       '2nd Level3.68 m x 3.71 m12.07 ft x 12.17 ft',
       '2nd Level3.17 X 3.68', 'Main Level5.11 X 3.73',
       '2nd Level3.53 X 4.80', '2nd Level4.06 X 3.00',
       '2nd Level4.55 X 4.47',
       '2nd Level4.56 m x 4.64 m14.96 ft x 15.22 ft',
       'Upper Level3.96 m x 3.35 m12.99 ft x 10.99 ft',
       '2nd Level3.53 X 3.25', '2nd Level3.96 X 5.18',
       '2nd Level4.80 X 4.32',
       '2nd Level4.42 m x 4.90 m14.50 ft x 16.08 ft',
       'Upper LevelMeasurements not available', '2nd Level4.01 X 6.22',
       '2nd Level3.66 X 3.71',
       '2nd Level3.83 m x 3.20 m12.57 ft x 10.50 ft',
       'Main Level4.83 X 4.78', '2nd Level4.88 X 4.57',
       '2nd Level4.93 X 6.12', 'Main Level3.76 X 3.00',
       "Main Level16'0'' x 9'0''", 'Main Level4.37 X 3.38',
       'Main Level3.86 m x 3.35 m12.66 ft x 10.99 ft',
       'Main Level3.43 X 3.23', '2nd Level4.42 X 3.20',
       'Main Level4.96 m x 5.71 m16.27 ft x 18.73 ft',
       '2nd Level4.62 m x 4.19 m15.16 ft x 13.75 ft',
       'Main Level3.30 m x 3.00 m10.83 ft x 9.84 ft',
       'Main Level4.01 X 5.18',
       '2nd Level5.13 m x 3.96 m16.83 ft x 12.99 ft',
       '2nd Level4.30 m x 3.35 m14.11 ft x 10.99 ft',
       '2nd Level4.00 m x 3.70 m13.12 ft x 12.14 ft',
       'Main Level5.69 X 4.67', "Main Level12'9'' x 10'9''",
       'Main Level5.49 X 3.51', 'Main Level4.42 X 2.90',
       '2nd Level7.39 X 4.55',
       '2nd Level6.55 m x 4.34 m21.49 ft x 14.24 ft',
       'Main Level3.96 m x 4.57 m12.99 ft x 14.99 ft',
       '2nd Level4.29 m x 4.69 m14.07 ft x 15.39 ft',
       'Upper Level4.49 m x 4.25 m14.73 ft x 13.94 ft',
       'Main Level3.40 m x 4.72 m11.15 ft x 15.49 ft',
       '2nd Level5.00 X 3.12', 'Main Level3.40 X 4.72',
       '2nd Level5.44 X 3.25', '2nd Level3.43 X 3.45',
       '2nd Level5.18 m x 4.45 m16.99 ft x 14.60 ft',
       '2nd Level4.26 m x 3.35 m13.98 ft x 10.99 ft',
       'Main Level3.40 m x 3.33 m11.15 ft x 10.93 ft',
       '2nd Level3.53 X 4.04', 'Main LevelMeasurements not available',
       'Main Level4.17 X 4.75', '2nd Level4.24 X 5.31',
       '2nd Level4.42 m x 4.06 m14.50 ft x 13.32 ft',
       '3rd Level4.06 m x 3.76 m13.32 ft x 12.34 ft',
       '2nd Level4.44 X 3.43', '2nd Level5.26 X 3.45',
       '2nd Level4.62 X 3.78', 'Main Level4.37 X 3.66',
       '2nd Level5.44 X 4.27', 'Main Level4.22 X 3.63',
       'Main Level4.09 m x 3.61 m13.42 ft x 11.84 ft',
       '2nd Level4.95 m x 4.06 m16.24 ft x 13.32 ft',
       '3rd Level5.87 X 3.81', 'Main Level3.78 X 4.70',
       '2nd Level5.41 X 4.65',
       '2nd Level5.51 m x 4.50 m18.08 ft x 14.76 ft',
       'Other level\n                \n            \n        \n        \n            \n                :Upper6.53 X 3.35',
       'Main Level4.72 X 4.11',
       'Main Level4.90 m x 2.74 m16.08 ft x 8.99 ft',
       '3rd Level3.81 X 3.38',
       '3rd Level4.23 m x 3.00 m13.88 ft x 9.84 ft',
       "3rd Level14' '' x 9' 10''", 'Main Level3.12 X 2.97',
       '2nd Level5.84 X 2.51', 'Main Level6.15 X 3.81',
       '2nd Level5.03 X 4.34', 'Main Level4.09 X 3.33',
       '2nd Level4.01 X 3.91', 'Main Level4.42 X 2.74',
       'Main Level3.07 X 4.09', '2nd Level5.46 X 3.96',
       'Main Level3.84 X 4.06', 'Main Level4.83 X 3.71',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.87 X 3.23',
       '2nd Level4.60 X 4.65', '2nd Level3.61 X 4.83',
       '2nd Level3.38 X 5.13', 'Main Level3.53 X 4.55',
       '2nd Level4.27 m x 3.68 m14.01 ft x 12.07 ft',
       '2nd Level4.18 m x 4.27 m13.71 ft x 14.01 ft',
       '2nd Level5.45 m x 3.43 m17.88 ft x 11.25 ft',
       '2nd Level4.88 X 3.96', '2nd Level4.19 X 3.96',
       '2nd Level5.44 X 3.66', '2nd Level4.57 X 3.02',
       '2nd Level4.88 m x 3.35 m16.01 ft x 10.99 ft',
       '2nd Level7.47 X 5.77', 'Main Level5.13 X 3.68',
       'Main Level4.60 m x 3.30 m15.09 ft x 10.83 ft',
       '2nd Level3.71 X 5.03', '2nd Level3.99 X 3.84',
       '2nd Level4.27 m x 3.70 m14.01 ft x 12.14 ft',
       '2nd Level3.53 X 4.93', 'Main Level3.23 X 4.93',
       'Flat/Apartment Level3.54 m x 3.17 m11.61 ft x 10.40 ft',
       '2nd Level5.03 X 4.42', '2nd Level4.52 X 5.11',
       '2nd Level6.05 X 3.66',
       '2nd Level4.50 m x 4.51 m14.76 ft x 14.80 ft',
       '2nd Level4.05 m x 4.05 m13.29 ft x 13.29 ft',
       '2nd Level4.93 X 3.96', 'Main Level3.81 X 3.96',
       'Main Level4.57 X 3.25', '2nd Level5.21 X 6.25',
       '2nd Level5.64 X 4.42', '2nd Level5.49 X 4.11',
       '2nd Level5.21 X 3.61', 'Main Level5.18 X 3.66',
       '2nd Level4.90 X 4.11', '2nd Level4.88 X 3.99',
       '2nd Level3.81 X 3.66',
       '2nd Level3.99 m x 5.69 m13.09 ft x 18.67 ft',
       '2nd Level4.60 X 4.27', '2nd Level5.05 X 4.78',
       '2nd Level5.79 X 5.03', 'Main Level3.66 X 4.83',
       '2nd Level3.61 X 4.88',
       'Main Level4.72 m x 4.42 m15.49 ft x 14.50 ft',
       'Main Level4.24 X 4.27', '2nd Level4.01 X 3.84',
       'Main Level3.07 m x 4.37 m10.07 ft x 14.34 ft',
       '2nd Level10.20 m x 12.80 m33.46 ft x 41.99 ft',
       'Main Level3.12 X 3.81', '2nd Level4.27 X 6.53',
       '2nd Level5.00 m x 4.88 m16.40 ft x 16.01 ft',
       '2nd Level4.85 X 3.78', 'Main Level4.27 X 3.76',
       '2nd Level4.22 X 4.72',
       '2nd Level5.49 m x 3.66 m18.01 ft x 12.01 ft',
       '2nd Level5.16 X 4.50', '2nd Level5.89 X 4.93',
       '2nd Level4.98 X 3.66', '2nd Level3.30 X 3.38',
       '2nd Level3.63 X 3.99', '2nd Level4.34 X 4.88',
       'Main Level3.53 m x 3.33 m11.58 ft x 10.93 ft',
       '2nd Level4.90 X 4.44', '2nd Level4.88 X 5.00',
       'Main Level3.96 X 3.66', '2nd Level4.11 X 3.91',
       '2nd Level4.83 m x 4.53 m15.85 ft x 14.86 ft',
       'Main Level3.96 X 3.05', 'Basement Level3.96 X 3.35',
       '2nd Level4.83 X 4.52', '2nd Level0.00 X 0.00',
       'Main Level3.51 X 4.52',
       'Other level\n                \n            \n        \n        \n            \n                :Main Level3.96 m x  m13 ft x 8.5 IRREG ft',
       'Main Level3.33 X 4.29', '2nd Level5.00 X 4.52',
       'Main Level5.56 X 4.17',
       '2nd Level4.93 m x 4.47 m16.17 ft x 14.67 ft',
       'Main Level4.11 X 3.28', '2nd Level3.66 X 4.57',
       'Main Level4.22 X 2.97', 'Main Level5.46 X 7.21',
       '2nd Level5.41 X 6.58', 'Main Level3.35 X 3.66',
       '2nd Level7.39 X 3.66', '2nd Level4.32 X 4.04',
       '2nd Level5.16 X 3.68',
       '2nd Level5.49 m x 4.45 m18.01 ft x 14.60 ft',
       '2nd Level12.00 m x 11.00 m39.37 ft x 36.09 ft',
       "2nd Level12'2'' x 11'9''", 'Main Level5.11 X 4.06',
       '2nd Level4.11 X 5.03', '2nd Level4.88 X 4.01',
       '3rd Level4.04 X 5.05',
       'Main Level3.66 m x 3.05 m12.01 ft x 10.01 ft',
       '2nd Level5.61 X 4.32', '2nd Level4.72 X 4.11',
       'Main Level3.66 X 3.58', '2nd Level3.94 X 3.38',
       'Main Level5.44 X 3.35', '2nd Level4.88 X 3.86',
       'Main Level3.91 X 5.49', '2nd Level5.18 X 4.50',
       '2nd Level4.01 X 4.83', '2nd Level4.72 X 4.09',
       'Main Level4.72 X 3.76', 'Main Level3.81 X 5.11',
       'Main Level3.00 X 3.61', 'Main Level2.92 X 4.34',
       '2nd Level4.47 m x 3.23 m14.67 ft x 10.60 ft',
       '2nd Level3.96 X 3.91',
       '2nd Level4.17 m x 4.11 m13.68 ft x 13.48 ft',
       '2nd Level5.18 X 4.93', '2nd Level4.62 X 4.37',
       '2nd Level5.49 X 4.24', '2nd Level4.22 X 4.88',
       '2nd Level5.56 X 4.32', 'Main Level4.72 X 3.48',
       '2nd Level4.37 X 3.86', '2nd Level3.71 X 4.42',
       'Main Level3.45 m x 3.38 m11.32 ft x 11.09 ft',
       '2nd Level3.99 X 2.77', '2nd Level4.06 X 4.83',
       '2nd Level4.27 X 4.17', '2nd Level4.14 X 4.06',
       '2nd Level3.91 X 3.71', 'Main Level4.70 X 4.11',
       '2nd Level4.11 X 3.35', 'Main Level4.27 X 3.35 X 2.74',
       '2nd Level4.06 X 3.53', 'Main Level4.55 X 2.95',
       'Main Level5.08 X 6.93', 'Main Level3.48 X 3.07',
       '2nd Level2.95 X 4.44',
       'Other level\n                \n            \n        \n        \n            \n                :Lower4.19 X 3.40',
       'Main Level4.52 X 3.76',
       'Other level\n                \n            \n        \n        \n            \n                :Lower2.82 X 4.42',
       'Main Level7.26 X 3.33', 'Main Level5.84 X 3.40',
       'Main Level3.23 X 4.39', 'Main Level5.97 X 3.96',
       '2nd Level4.11 X 3.38', '2nd Level4.70 X 3.76',
       '2nd Level3.91 X 5.54', 'Main Level4.19 X 4.80',
       'Main Level4.17 m x 6.30 m13.68 ft x 20.67 ft',
       '2nd Level5.03 m x 3.35 m16.50 ft x 10.99 ft',
       'Main Level3.96 X 3.91', 'Main Level3.68 X 3.10',
       '2nd Level3.45 X 4.04', 'Main Level4.67 X 3.05',
       '2nd Level4.78 X 4.17', '2nd Level4.42 X 3.94',
       '2nd Level3.96 X 5.51',
       '2nd Level5.79 m x 3.84 m19.00 ft x 12.60 ft',
       'Main Level4.17 X 6.30', 'Main Level4.32 X 4.27',
       '2nd Level4.27 X 5.89', '2nd Level7.01 X 3.96',
       '2nd Level5.13 X 4.11', '2nd Level4.80 X 4.11',
       '2nd Level4.50 X 4.27', '2nd Level3.96 X 3.61',
       '2nd Level4.27 X 3.66', '2nd Level4.83 X 3.66',
       '2nd Level4.65 X 4.60', 'Main Level3.40 X 3.15',
       '2nd Level5.00 m x 4.33 m16.40 ft x 14.21 ft',
       '2nd Level4.19 X 5.69', '2nd Level3.81 X 4.47',
       '2nd Level4.88 X 3.35', '3rd Level4.72 X 5.18',
       '2nd Level4.19 X 4.11', '2nd Level5.49 X 5.56',
       '2nd Level5.66 X 4.37', '2nd Level4.04 X 4.75',
       'Main Level4.88 X 4.72',
       '2nd Level3.66 m x 3.05 m12.01 ft x 10.01 ft',
       '2nd Level3.66 X 4.09', '2nd Level4.78 X 3.73',
       '2nd Level4.29 X 4.09', '2nd Level4.67 X 4.47',
       '2nd Level4.39 X 4.09', 'Basement Level2.77 X 5.08',
       'Main Level4.44 X 3.25', 'Main Level2.44 X 2.59',
       '2nd Level4.80 X 4.88', '2nd Level4.57 X 4.27',
       'Main Level4.24 X 3.53', '3rd Level4.32 X 3.10',
       '3rd Level5.94 X 3.78',
       'Other level\n                \n            \n        \n        \n            \n                :Lower3.86 X 4.11',
       '2nd Level3.99 X 4.62',
       '3rd Level4.43 m x 3.90 m14.53 ft x 12.80 ft',
       'Main Level5.56 X 3.66',
       'Main Level4.34 m x 3.28 m14.24 ft x 10.76 ft',
       '2nd Level5.11 X 3.99', '2nd Level5.56 X 3.96',
       '2nd Level4.72 X 3.96', '2nd Level5.36 X 3.78',
       '2nd Level3.50 m x 4.10 m11.48 ft x 13.45 ft',
       'Main Level5.28 X 3.66', '2nd Level5.31 X 4.19',
       'Main Level5.51 X 4.55', 'Main Level4.88 X 4.78',
       '2nd Level4.78 X 4.65', '2nd Level5.44 X 5.82',
       'Main Level4.34 X 3.28', '2nd Level5.00 X 3.91',
       '2nd Level3.81 X 3.20', 'Main Level4.06 X 2.51',
       'Main Level1.24 X 2.95', 'Main Level3.15 X 3.28',
       '2nd Level4.09 X 8.36', '2nd Level4.57 X 3.84',
       '2nd Level4.14 m x 3.56 m13.58 ft x 11.68 ft',
       'Upper Level5.18 m x 3.86 m16.99 ft x 12.66 ft',
       '2nd Level3.35 X 3.96', '3rd Level4.14 X 4.57',
       'Main Level4.09 X 3.66', '3rd Level4.75 X 3.00',
       'Main Level5.16 X 5.44', 'Main Level4.57 X 5.11',
       'Main Level4.11 X 3.20', '2nd Level8.05 X 6.25',
       '2nd Level5.33 X 4.98', 'Main Level4.78 X 3.07',
       '2nd Level5.66 X 4.88',
       '2nd Level5.08 m x 4.88 m16.67 ft x 16.01 ft',
       '3rd Level4.19 X 3.78', 'Main Level3.89 X 3.51',
       '2nd Level3.66 X 3.48', '2nd Level4.88 X 4.27',
       '2nd Level5.08 X 4.88', 'Main Level4.95 X 4.90',
       'Main Level5.64 X 4.22', 'Main Level3.15 X 3.43',
       '2nd Level4.88 X 5.05', '2nd Level5.21 X 4.29',
       'Main Level5.18 X 4.01',
       '2nd Level4.88 m x 5.05 m16.01 ft x 16.57 ft',
       '2nd Level4.37 X 4.32', '2nd Level3.71 X 4.47',
       '2nd Level3.48 X 3.40', '2nd Level3.17 X 4.14',
       '2nd Level4.10 m x 8.37 m13.45 ft x 27.46 ft',
       '2nd Level5.66 X 3.94', '2nd Level4.44 X 3.71',
       '2nd Level4.22 X 4.09', 'Main Level3.71 X 3.17',
       'Main Level3.10 m x 4.55 m10.17 ft x 14.93 ft',
       'Main Level6.40 X 4.29', '2nd Level3.81 X 5.46',
       '2nd Level4.42 X 4.24', '2nd Level4.75 X 3.66',
       '2nd Level3.45 X 4.55',
       '2nd Level4.96 m x 3.71 m16.27 ft x 12.17 ft',
       '2nd Level4.88 X 3.84', '2nd Level4.32 X 4.42',
       '2nd Level4.80 X 3.61', '2nd Level3.61 X 6.35',
       '2nd Level4.39 X 4.22', '2nd Level4.27 X 5.18',
       '2nd Level4.44 X 5.36', '2nd Level5.03 X 3.73',
       'Main Level4.60 X 4.37', '2nd Level5.92 X 4.22',
       '2nd Level4.88 X 3.81', '2nd Level4.32 X 4.27',
       'Main Level3.58 X 3.20', '2nd Level4.95 X 3.96',
       '2nd Level4.37 X 3.96', '2nd Level3.38 X 4.24',
       '2nd Level3.38 X 6.32', '2nd Level5.03 X 5.28',
       'Main Level3.20 X 4.80', 'Main Level4.88 X 3.66',
       'Main Level4.62 X 4.27', 'Main Level4.72 X 3.73',
       '2nd Level5.72 m x 4.27 m18.77 ft x 14.01 ft',
       '2nd Level5.51 m x 3.91 m18.08 ft x 12.83 ft',
       '2nd Level4.88 X 4.72', '2nd Level5.49 X 4.19',
       '2nd Level5.08 X 3.89', '2nd Level5.72 X 4.27',
       '2nd Level5.51 X 3.91', 'Main Level3.73 X 3.71',
       '2nd Level4.88 X 4.22', '2nd Level4.17 X 5.33',
       'Main Level3.10 X 4.55', '2nd Level4.27 X 4.62',
       '2nd Level4.65 X 3.99', '2nd Level4.83 X 4.27',
       'Main Level6.76 X 4.44', 'Main Level3.66 X 3.45',
       '2nd Level4.17 X 4.11', '2nd Level3.66 X 5.92',
       '2nd Level4.29 X 5.03', '2nd Level4.78 X 4.57',
       '2nd Level5.26 X 4.32', '2nd Level4.57 X 4.50',
       '2nd Level5.13 X 4.67', '2nd Level3.91 X 3.66',
       '2nd Level32.31 X 3.96', '2nd Level4.60 X 3.56',
       'Main Level5.77 X 3.56', '2nd Level5.33 X 4.67',
       '2nd Level4.47 X 3.73', '2nd Level5.31 X 3.99',
       "2nd Level17'0'' x 11'8''", '2nd Level4.50 X 3.66',
       '2nd Level5.18 X 3.66', '2nd Level6.71 X 4.57',
       'Main Level5.08 X 4.01', '2nd Level4.44 X 4.24',
       '2nd Level3.66 X 4.01', '2nd Level3.61 X 3.94',
       '2nd Level4.65 X 4.27'], dtype=object)

In [121]:
# data.rename(columns={'Primary Bedroom': 'Primary_Bedroom_Level'}, inplace=True)

Primary_Bedroom_Level = check_bathroom_level(data['Primary_Bedroom_Level'])
data['Primary_Bedroom_Level'] = Primary_Bedroom_Level
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style:,Driveway Parking:,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,Main Level,Basement Level,2nd Level,NaN,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,NaN,2nd Level,3rd Level,NaN,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,Main Level,2nd Level,2nd Level,NaN,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,Main Level,2nd Level,2nd Level,NaN,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,2nd Level,2nd Level,2nd Level,Two Story,Private Drive Single Wide,3.0

In [136]:
data['Bathroom_Level'].unique()

array(['Main Level', nan, '2nd Level', 'Other level', 'Upper Level',
       'Ground Level', 'Basement Level'], dtype=object)

In [137]:
# Handle missing values
data['Bathroom_Level'].fillna('Unknown', inplace=True)

# Convert levels to ordinal values
level_mapping = {
    'Basement Level': 0,
    'Ground Level': 1,
    'Main Level': 2,
    'Upper Level': 3,
    '2nd Level': 4,
    'Other level': 5,
    'Unknown': -1
}

data['Bathroom_Level'] = data['Bathroom_Level'].replace(level_mapping)

data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,2,Basement Level,2nd Level,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,-1,2nd Level,3rd Level,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,2,2nd Level,2nd Level,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,2,2nd Level,2nd Level,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,4,2nd Level,2nd Level,Two Story,3.0

In [138]:
data['Bedroom_Level'].unique()

array(['Basement Level', '2nd Level', nan, 'Main Level', '3rd Level',
       'Other level', 'Ground Level', 'Lower Level',
       'Flat/Apartment LevelMeasurements not available', 'Upper Level',
       '3.35 m x 4.10 m10.99 ft x 13.45 ft'], dtype=object)

In [139]:
data['Bedroom_Level'].fillna('Unknown', inplace=True)
level_mapping = {
    'Basement Level': 0,
    'Ground Level': 1,
    'Main Level': 2,
    'Upper Level': 3,
    '2nd Level': 4,
    '3rd Level': 5,
    'Other level': 6,
    'Lower Level': 7,
    'Flat/Apartment LevelMeasurements not available': -1,
    '3.35 m x 4.10 m10.99 ft x 13.45 ft': 2,
    'Unknown': -1,
     # to handle NaN values, make sure to import numpy as np
}

data['Bedroom_Level'] = data['Bedroom_Level'].replace(level_mapping)
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,2,0,2nd Level,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,-1,4,3rd Level,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,2,4,2nd Level,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,2,4,2nd Level,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,4,4,2nd Level,Two Story,3.0

In [150]:
data['Primary_Bedroom_Level'].fillna('Unknown', inplace=True)
level_mapping = {
    'Basement Level': 0,
    'Ground Level': 1,
    'Main Level': 2,
    'Upper Level': 3,
    '2nd Level': 4,
    '3rd Level': 5,
    'Other level': 6,
    'Lower Level': 7,
    'Flat/Apartment LevelMeasurements not available': -1,
    '3.35 m x 4.10 m10.99 ft x 13.45 ft': 2,
    'Unknown': -1,
     # to handle NaN values, make sure to import numpy as np
}

data['Primary_Bedroom_Level'] = data['Primary_Bedroom_Level'].replace(level_mapping)
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,2,0,4,-1.0,4.0
1,998900.0,3.0,4.0,2728,49.00,-1,4,5,-1.0,7.0
2,799900.0,3.0,3.0,1665,38.00,2,4,4,-1.0,4.0
3,772888.0,3.0,4.0,1745,31.00,2,4,4,-1.0,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,4,4,4,3.0,3.0

In [128]:
data['Architectural Style:'].unique()

array([nan, 'Two Story', 'Backsplit', '2.5 Storey', 'Bungalow Raised',
       'Bungalow', '1.5 Storey', 'Split Level', 'Sidesplit',
       '1 Storey/Apt', '3 Storey', 'Bungaloft', 'Mobile',
       'Stacked Townhouse'], dtype=object)

In [130]:
data['Driveway Parking:'].unique()

array([nan, 'Private Drive Single Wide', 'Private Drive Double Wide',
       'Private Drive Triple+ Wide',
       'Carport Parking, Private Drive Single Wide',
       'Outside/Surface/Open, Visitor Parking', 'Outside/Surface/Open',
       'Private Drive Single Wide, Visitor Parking', 'Lane/Alley Parking',
       'Visitor Parking', 'Covered Parking', 'None, Street Parking Only',
       'Private Drive Single Wide, Private Drive Double Wide',
       'Private Drive Double Wide, Visitor Parking',
       'Outside/Surface/Open, Private Drive Single Wide',
       'Boulevard Parking',
       'Front Yard Parking, Private Drive Double Wide',
       'Front Yard Parking, Private Drive Single Wide',
       'Covered Parking, Outside/Surface/Open, Visitor Parking',
       'Lane/Alley Parking, Visitor Parking', 'Front Yard Parking',
       'Covered Parking, Outside/Surface/Open',
       'Covered Parking, Visitor Parking',
       'Front Yard Parking, Outside/Surface/Open',
       'Private Drive Single Wide, Private Drive Triple+ Wide',
       'None, Visitor Parking', 'Street Parking Only',
       'Private Drive Double Wide, Private Drive Triple+ Wide',
       'Boulevard Parking, Outside/Surface/Open',
       'Private Drive Single Wide, Street Parking Only',
       'Front Yard Parking, Visitor Parking',
       'Private Drive Triple+ Wide, Street Parking Only, Visitor Parking'],
      dtype=object)

In [133]:
# data = data.drop(columns=['Driveway Parking:'])
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style:,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,Main Level,Basement Level,2nd Level,NaN,4.0
1,998900.0,3.0,4.0,2728,49.00,NaN,2nd Level,3rd Level,NaN,7.0
2,799900.0,3.0,3.0,1665,38.00,Main Level,2nd Level,2nd Level,NaN,4.0
3,772888.0,3.0,4.0,1745,31.00,Main Level,2nd Level,2nd Level,NaN,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,2nd Level,2nd Level,2nd Level,Two Story,3.0

In [143]:
data.rename(columns={'Architectural Style:': 'Architectural Style'}, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            696 non-null    float64
 2   NumBathrooms           629 non-null    float64
 3   Floor Space (approx):  530 non-null    object
 4   Frontyard_space_in_ft  483 non-null    float64
 5   Bathroom_Level         750 non-null    int64
 6   Bedroom_Level          750 non-null    int64
 7   Primary_Bedroom_Level  474 non-null    object
 8   Architectural Style    463 non-null    object
 9   Number_Parking_Spaces  360 non-null    float64
dtypes: float64(5), int64(2), object(3)
memory usage: 58.7+ KB

In [144]:
import numpy as np

style_mapping = {
    'Bungalow': 0,
    'Bungalow Raised': 1,
    'Bungaloft': 2,
    'Two Story': 3,
    '1.5 Storey': 4,
    '2.5 Storey': 5,
    '3 Storey': 6,
    '1 Storey/Apt': 7,
    'Backsplit': 8,
    'Sidesplit': 9,
    'Split Level': 10,
    'Stacked Townhouse': 11,
    'Mobile': 12,
    np.nan: -1
}

data['Architectural Style'] = data['Architectural Style'].replace(style_mapping)

data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,2,0,2nd Level,-1.0,4.0
1,998900.0,3.0,4.0,2728,49.00,-1,4,3rd Level,-1.0,7.0
2,799900.0,3.0,3.0,1665,38.00,2,4,2nd Level,-1.0,4.0
3,772888.0,3.0,4.0,1745,31.00,2,4,2nd Level,-1.0,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,4,4,2nd Level,3.0,3.0

In [145]:
data['Number_Parking_Spaces'].fillna(0, inplace=True)
data.head()

,Price,NumBedrooms,NumBathrooms,Floor Space (approx):,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style,Number_Parking_Spaces
0,1149000.0,5.0,5.0,2538,49.00,2,0,2nd Level,-1.0,4.0
1,998900.0,3.0,4.0,2728,49.00,-1,4,3rd Level,-1.0,7.0
2,799900.0,3.0,3.0,1665,38.00,2,4,2nd Level,-1.0,4.0
3,772888.0,3.0,4.0,1745,31.00,2,4,2nd Level,-1.0,3.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,4,4,2nd Level,3.0,3.0

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            696 non-null    float64
 2   NumBathrooms           629 non-null    float64
 3   Floor Space (approx):  530 non-null    object
 4   Frontyard_space_in_ft  483 non-null    float64
 5   Bathroom_Level         750 non-null    int64
 6   Bedroom_Level          750 non-null    int64
 7   Primary_Bedroom_Level  750 non-null    object
 8   Architectural Style    750 non-null    float64
 9   Number_Parking_Spaces  750 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 58.7+ KB

In [153]:
data['Floor Space (approx):']

0                  2538
1                  2728
2                  1665
3                  1745
4      1585 Square Feet
             ...
745    1686 Square Feet
746    1686 Square Feet
747    1628 Square Feet
748    1628 Square Feet
749    2300 Square Feet
Name: Floor Space (approx):, Length: 750, dtype: object

In [160]:
def extract_number(val):
    return val.str.extract(r'(\d+\.\d+|\d+)').astype(float)

In [156]:
# data.rename(columns={'Floor Space (approx):': 'Floor_Space'}, inplace=True)
Floor_Space =  extract_number(data['Floor_Space'])
data['Floor Space'] = Floor_Space
data.head()

,Price,NumBedrooms,NumBathrooms,Floor_Space,Frontyard_space_in_ft,Bathroom_Level,Bedroom_Level,Primary_Bedroom_Level,Architectural Style,Number_Parking_Spaces,Floor Space (approx):,Floor Space
0,1149000.0,5.0,5.0,2538,49.00,2,0,4,-1.0,4.0,2538.0,2538.0
1,998900.0,3.0,4.0,2728,49.00,-1,4,5,-1.0,7.0,2728.0,2728.0
2,799900.0,3.0,3.0,1665,38.00,2,4,4,-1.0,4.0,1665.0,1665.0
3,772888.0,3.0,4.0,1745,31.00,2,4,4,-1.0,3.0,1745.0,1745.0
4,624900.0,3.0,2.0,1585 Square Feet,30.28,4,4,4,3.0,3.0,1585.0,1585.0

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            750 non-null    float64
 2   NumBathrooms           750 non-null    float64
 3   Floor_Space            530 non-null    object
 4   Frontyard_space_in_ft  483 non-null    float64
 5   Bathroom_Level         750 non-null    int64
 6   Bedroom_Level          750 non-null    int64
 7   Primary_Bedroom_Level  750 non-null    object
 8   Architectural Style    750 non-null    float64
 9   Number_Parking_Spaces  750 non-null    float64
 10  Floor Space (approx):  530 non-null    float64
 11  Floor Space            530 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 70.4+ KB

In [158]:
data = data.drop(columns=['Floor Space (approx):','Floor Space'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            750 non-null    float64
 2   NumBathrooms           750 non-null    float64
 3   Floor_Space            530 non-null    object
 4   Frontyard_space_in_ft  483 non-null    float64
 5   Bathroom_Level         750 non-null    int64
 6   Bedroom_Level          750 non-null    int64
 7   Primary_Bedroom_Level  750 non-null    object
 8   Architectural Style    750 non-null    float64
 9   Number_Parking_Spaces  750 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 58.7+ KB

In [163]:
# Replacing NaN in 'Floor Space (approx):' and 'Frontyard_space_in_ft' with their respective means
value = extract_number(data['Floor_Space'])#
data['Floor_Space'] = value
data['Floor_Space'].fillna(data['Floor_Space'].mean(), inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            750 non-null    float64
 2   NumBathrooms           750 non-null    float64
 3   Floor_Space            750 non-null    float64
 4   Frontyard_space_in_ft  483 non-null    float64
 5   Bathroom_Level         750 non-null    int64
 6   Bedroom_Level          750 non-null    int64
 7   Primary_Bedroom_Level  750 non-null    object
 8   Architectural Style    750 non-null    float64
 9   Number_Parking_Spaces  750 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 58.7+ KB

In [164]:
data['Frontyard_space_in_ft'].fillna(data['Frontyard_space_in_ft'].mean(), inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  750 non-null    float64
 1   NumBedrooms            750 non-null    float64
 2   NumBathrooms           750 non-null    float64
 3   Floor_Space            750 non-null    float64
 4   Frontyard_space_in_ft  750 non-null    float64
 5   Bathroom_Level         750 non-null    int64
 6   Bedroom_Level          750 non-null    int64
 7   Primary_Bedroom_Level  750 non-null    object
 8   Architectural Style    750 non-null    float64
 9   Number_Parking_Spaces  750 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 58.7+ KB

In [152]:
# Replacing NaN in 'NumBedrooms' and 'NumBathrooms' with 1
data['NumBedrooms'].fillna(1, inplace=True)
data['NumBathrooms'].fillna(1, inplace=True)


data.info()

TypeError: can only concatenate str (not "int") to str

In [165]:
data.to_csv('property_data_readyTowork.csv')